<form method="post" action="/articles/<%=@article.id%>">
    <input type="hidden" name="_method" value="patch">

    <ul>
        <li>
            <label for="title">Title</label>
            <input type="text" name="article[title]" value="<%= @article.title %>" id="title">
        </li>

        <li>
            <label for="content">Content</label>
            <textarea type="text" name="article[content]" value="<%= @article.content %>" id="content">
            </textarea>
        </li>
    </ul>

    <input type="submit" id="edit_submit">
</form>