<form action="/articles" method="POST">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title">

    <label for="content">Content: </label>
    <input name="content" id="content">
    
    <button type="submit" value="submit" id="submit">Submit</button>
</form> 